<%- include("patches/header.ejs") %>
<% var newBlog = [] %>

<div class="main">
    <ul style="list-style: none;">
        <% if(locals.Newblog) {%>
            <% for (const x of Newblog) {%>
            <li>
                <head><a href="/blogs/<%= x.id %>"><%= x.title %></a></head>
                <p><%= x.content %></p>
            </li>
            <% } %>
        <% } %>
        
    </ul>
</div>

<%- include("patches/footer.ejs") %>
